.time-wrapper, .time-wrapper-item__text 
    display: flex
    justify-content: center
    align-items: center 

.time-wrapper 
    flex-direction: row 
    margin: 4rem 0

    &-item
        width: 30%
        padding: 2rem 3rem 

        background: $colorBackground
        border: 2px solid $colorPrimary
        border-radius: 15px
        
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25)
        text-align: center

        &:nth-child(2)
            margin: 0 3em

        &__text
            flex-direction: column
            font-size: 4rem

            &:after 
                display: block
                font-size: 2rem
                font-weight: 300
                content: attr(data-label)

@media (max-width: 576px) 
    .time-wrapper
        flex-direction: column
        margin: 2em 0

        &-item
            width: 100%
            padding: 1rem 2rem

            &:nth-child(2)
                margin: 2em 0

            &__text
                flex-direction: row

                &:after 
                    min-width: 110px
                    margin-left: 1em