.logo, .logo__img 
    height: 2rem
    padding: 0 10px

.menu
    font-size: inherit
    margin: 0

    &-link
        color: inherit
        
        &:not(:last-child)
            margin-right: 2.5em

        &--current .menu-item
            &:after
                width: 90% !important
                background: rgba($colorLink, .7) !important
            & i 
                color: $colorLink

    &-item
        position: relative
        height: 100%
        padding: 0 10px
        cursor: pointer
        user-select: none
         
        &:after 
            content: ''
            position: absolute
            width: 0px
            height: 1.5px
            bottom: -10px
            left: 51%
            transform: translateX(-50%)
            background: $colorPrimary
            transition: width .3s, background .3s

        &:hover
            &:after
                width: 90%

        &__icon
                color: $colorPrimary
                transition: color .3s
                margin-right: 10px
                font-size: 28px

.menu, .menu-item
    display: flex
    align-items: center

@media (max-width: 576px)
    .menu
        font-size: 7px

        &-item
            &__icon
                margin-right: 0
            &__text
                display: none