@keyframes show
    from
        opacity: 0
    to
        opacity: 1

@keyframes hide
    from 
        opacity: 1
    to
        opacity: 0
        
@keyframes hideTitle     
    from
        margin: 2rem 0
        height: auto
        //transform: translateY(0)
        opacity: 1

    to 
        margin: 0
        height: 0
        //transform: translateY(-100%)
        opacity: 0

@keyframes showTitle 
    from 
        margin: 0
        height: 0
        opacity: 0
    
    to
        margin: 2rem 0
        height: auto
        opacity: 1
  
@keyframes fade-in
    0%
        z-index: 99
        opacity: 0
        transform: translateX(-400px)
    100%
        z-index: 0
        transform: translateX(0)
        opacity: 1

@keyframes fade-out
    0%
        z-index: 99
        opacity: 1
        transform: translateX(0)
    100%
        z-index: 0
        transform: translateX(400px)
        opacity: 0
            
@keyframes rotate 
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg) 

// Page Mount/Unmount Animation

.app-wrapper
    position: absolute 

.app-wrapper-enter-active 
    animation: fade-in 1s forwards

.app-wrapper-exit-active
    animation: fade-out 1s forwards

@media (max-width: 576px)
    @keyframes hideTitle     
        from
            margin: 0.5rem 0 1rem 0
            height: auto
            //transform: translateY(0)
            opacity: 1

        to 
            margin: 0
            height: 0
            //transform: translateY(-100%)
            opacity: 0

    @keyframes showTitle 
        from 
            margin: 0
            height: 0
            opacity: 0
            
        to
            margin: 0.5rem 0 1rem 0
            height: auto
            opacity: 1