// Colors
$colorDefault: #fff
$colorBackground: #33334C
$colorPrimaryText: #00AEDB
$colorPrimaryCardL: #5D99FB
$colorPrimaryCardR: #4980FA
$colorLink: #00FFF0

// Font     
$fontFamily: 'Roboto', sans-serif
$fontSize: 16px

// Font sizes
$h1Size: 2.25rem
$h1SizePhone: 1.5rem
$h2Size: 1.5rem
$pSize: 1rem

// Imgs
$logoHeight: 42px
$logoHeightPhone: 22px